{
    "tank_args": {
        "probe_low_pin": ,
        "probe_norm_pin": ,
        "probe_full_pin": ,
        "led_low_pin": ,
        "led_norm_pin": ,
        "led_full_pin": ,
        "water_pour_time":
    },
    "pump_args": {
        "pin": ,
        "initial_value": 0,
        "frequency": 200,
        "flow_sensor_pin": ,
        "flow_sensor_vcc_pin":
    },
    "gardener_args": {
        "watch_cycle": 10,
        "watering_cycle": 5
    },
    "plants_args": [
        {
            "id": "",
            "sensor_vcc_pin": ,
            "valve_pin": ,
            "led_pin": ,
            "button_pin": ,
            "moist_percent": 55,
            "pour_millilitres": 50,
            "pump_power": 0.3,
            "device": ,
            "channel":
        }
    ]
}
