<!DOCTYPE html>
<head>
  <title>{% block title %}Welcome{% endblock %} | HelloWorld app</title>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="theme-color" content="#999999" />

  <!-- html-webpack-plugin styles -->
  <% if (htmlWebpackPlugin.files.favicon) { %>
  <link rel="shortcut icon" type="image/x-icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>
  <!-- / html-webpack-plugin styles -->
</head>

<body>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
  {% for m in messages %}
    <li>{{ m }}
  {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}

  <header><nav></nav></header>

  {% block content %}
    <p id="bodyfooter">...igal pool...
  {% endblock content %}

  <footer></footer>

  <!-- html-webpack-plugin scripts -->
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  <!-- / html-webpack-plugin scripts -->
</body>
